/wp-config.php
/wp-config2.php
/xmlrpc.php
/wp-config-test.php
/php_errorlog
/index_txt.html
/index2.php
/index BU.php
/google4e11066112455e0b.html
/dnd.php
/amsterdam-amstel
/2018
/cgi-bin
/NetBoot
/roosendaal
/shop
/test-website
/zoetermeer
wp-content/uploads/*
wp-content/upgrade/*
wp-content/languages/*
wp-content/index.php/*
wp-content/mu-plugins/*
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-app.php
/wp-atom.php
/wp-blog-header.php
/wp-comments-post.php
/wp-commentsrss2.php
/wp-config-sample.php
/wp-cron.php
/wp-feed.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-rdf.php
/wp-rss.php
/wp-rss2.php
/wp-pass.php
/wp-register.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/wp-admin
/wp-includes
/wp-content/themes/twentysixteen
/wp-content/themes/twentyseventeen
/wp-content/themes/twentyseventeen
/wp-content/themes/index.php


/.htaccess
/.ftpquota